.card-list {
    @extend .shadow;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    margin-right: 12px;
    width: 240px;

    &-name {
        font-size: 18px;
        font-weight: 600;
        margin-left: 4px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;

        &-change {
            width: 60%;
            padding: 4px;
        }
        
        &-header {
            width: 60%;
            overflow-wrap: break-word;
            cursor: pointer;
        }

    }

    &-items {
        max-height: calc(100vh - 300px);
        overflow: auto;
    }

    &-button-new {
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }
}