.card-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    margin-right: 12px;
    width: 240px;

    &-name {
        font-size: 18px;
        font-weight: 600;
        margin-left: 4px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }

    &-items {
        max-height: calc(100vh - 250px);
        overflow: auto;
    }

    &-button-new {
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }
}