.card-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    margin: 0 12px;
    width: 240px;

    .card-list-header {
        font-size: 18px;
        font-weight: 600;
        margin-left: 4px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
    }

    .card-list-items {
        max-height: calc(100vh - 250px);
        overflow: auto;
    }

    .card-list-button-new {
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }

    .card-item-button-delete {
        padding: 4px 8px;
        border-radius: 12px;
        background-color: $background-color-btn;
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
    }
}