$text-color: #fff;
$background-color-btn: #303030;

:root {
    --background-color: #3a3a3a;
}

.shadow {
    box-shadow: -1px 7px 19px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 7px 19px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 7px 19px -5px rgba(0, 0, 0, 0.5);
}